icrash-spec/lu.uni.lassy.excalibur.examples.icrash.report/*
icrash-spec/lu.uni.lassy.excalibur.examples.icrash.simulation/*
icrash-spec/lu.uni.lassy.excalibur.examples.icrash.simulation/*
icrash-spec/.project
icrash-spec/lu.uni.lassy.excalibur.standard.report.libraries/*
